
.a {
    background-color: #F7F7F7;
    padding-bottom: 300px;
}

.a .contents {
    width: 31%;
    float: left;
    margin: 1%;
}

.a .contents .images {
    width: 100%; 
    position:relative;
}

.a .contents .images img { 
    height: 500px;
    object-fit: cover;/* リサイズ */
}

.a .contents .text {
    width: 100%;
    text-align: center;
}

/**********  hover acstion  **********/

.a .contents .images .mask .caption {
	font-size:		130%;
    color:#FFF ;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.a .contents .images .mask {
    width: 100%;
    height:	100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;	/* マスクを表示しない */
    background-color: rgba(0,0,0,0.4);
    -webkit-transition:	all 0.6s ease;
    transition:	all 0.6s ease;
}

.a .contents .images:hover .mask {
    opacity: 1;	/* マスクを表示する */
}



/*******************************************/

.b {
    background-color: ;
}

.b .contents {
    width: 100%;
    height: 400px;
    position: relative;
}

.b .contents .images {
    width: 100%;
    background-color:#000;
}

.b .contents .images img{ 
    height: 400px;
    object-fit: cover;/* リサイズ */
    opacity: 0.6;
}

.b .contents .images img:hover { 
    scale:(1.2,1.2);
}

.b .contents .text {
    width: 30%;
    position: absolute;
    top: 50%;
    right: 10%;
    color: #fff;
}

.b .contents .text h4 {
    font-size: 36px;
    padding-bottom: 20px;
}

.b .contents .text p {
    font-size: 20px;
}

