@charset "utf-8";

h3 {
    background: none;
}

/***************** main ******************/

.pickup {
    padding: 3rem 0;
}

.pickup .contents {
    margin: 0 auto;
    padding: 3rem 0;
    position: relative;
}
.pickup .contents .h2border {
    width: 20%;
    border-top: solid 1px #333;
    margin: 9px 10px 0;
    display: inline-block;
    height: 5px;
}

.contents-top {
    position: relative;
    margin: 200px 0 0;
}

.contents-top .images{
    width: 90%;
    height: 200px;
    background-image: url(../images/about-concept.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -170px;
    right: 0;
    box-shadow: 6px 6px 6px rgb(0, 0, 0);
}

.photo .contents-top .images {
    width: 90%;
    height: 200px;
    background-image: url(../images/cook.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -170px;
    left: 0;
    box-shadow: 6px 6px 6px rgb(0, 0, 0);
}

.contents-top .textbox {
    width: 90%;
    padding: 40px 0 40px 20px;
    background-color: #B81B26;
    color: white;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.photo .contents-top .textbox {
    padding: 40px 20px 40px 0px;

}

.photo .contents-top .textbox {
    float: right;
}

.contents-top .textbox h2{
    text-align: start;
    position: relative;
}

.photo .contents-top .textbox h2 {
    text-align: right;
}

.contents-top .textbox p{
    position: relative;
}

.photo .contents-top .textbox p{
    text-align: right;
}

.flex {
    margin: 0 auto;
    max-width: 768px;
}

.flex .contents-item {
    width: 100%;
    padding: 1rem 1%;
    position: relative;
}

.flex .contents-item .images {
    width: 100%; 
    height: 150px;
    position:relative;
    background-size: cover;
    background-position: center;
}

.contents-list {
    max-width: 768px;
    margin: 0 auto;
}

.saiyou-back {
    background-image: url(../images/saiyou.jpg);
}
.youtube-back {
    background-image: url(../images/eizou.youtube.png);
}
.event-back {
    background-image: url(../images/eizou.event.jpg);
}
.zoom-back {
    background-image: url(../images/youtube.png);
}
.live-back {
    background-image: url(../images/eizou.live.jpg);
}
.sns-back {
    background-image: url(../images/youtube.png);
}

.cook-back {
    background-image: url(../images/cook.jpg);
}
.profile-back {
    background-image: url(../images/photo.profile.jpg);
}
.homepage-back {
    background-image: url(../images/cook.jpg);
}
.product-back {
    background-image: url(../images/cook.jpg);
}

.flex .contents-item .text {
    width: 100%;
    text-align: right;
    background-color: rgba(255, 255, 255,0.8);
}

.flex .contents-item .text h3 {
    width: 85%;
    margin: 0 5% 1rem 10%;
    font-size: 1.5rem;
    border-bottom: 1px solid #000;
}

.flex .contents-item .text .subtitle {
    margin-right: 5%;
}


/********* 
    slick 
    *********/
/*左右の矢印の色を変える*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}
/*左右の矢印の位置を変える*/
.slick-next {
    right: 30px;
    z-index: 99;
}
.slick-prev {
     left: 30px;
    z-index: 100;
}
/*スライド数のドットの色を変える*/
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff;
}
/*スライド画像の横幅可変*/
img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.contents-slider {
    max-width: 768px;
    margin: 0 auto;
}

.contents-slider .title {
    margin: 0 auto;
}

.contents-slider .title h3 {
    width: 100%;
}

.slide {
    width: 100vw;
    max-width: 768px;
    margin: 0 auto;
    padding: 0;
}

.slide-item {
    text-align: center;
}
/********* 
    slick 
    *********/


.service-list {
    padding: 100px 0 0;
    color: #000;
}

.service-list .title {
    text-align: center;
    padding: 1rem 1rem 2rem;
    border-radius: 30px;
    font-size: 1.5rem;
}

.service-list ul li {
    font-size: 1.3rem;
    padding: 1rem;
}

.flex .contents-item .images {
    height: 200px;
}

.plan {
    max-width: 768px;
    margin: 0 auto;
}

.plan h2 {
    text-align: center;
    padding: 3rem 0;
}

.ryoukin {
    margin: 0 auto;
}

.ryoukin h3 {
    border: none;
    width: 100%;
    color: #B81B26;
    text-align: center;
    font-size: 1.5rem;
}

.ryoukin .contents {
  padding: 30px 0 50px;
  width: 90%;
}

.ryoukin .contents .panel {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  width: 100%;
  z-index: 10;
  text-align: center;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.plan-name {
    font-size: 1.3rem;
    font-weight: 800;
    padding-bottom: 2rem;
}

.time {
    font-size: 1.1rem;
    font-weight: 800;
}

.pricing-plan:last-child {
  border-bottom: none;
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-price {
  color: orange;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.note {
    width: 90%;
    margin: 0 auto;
}

.note ul li {
    padding: 10px 20px;
}

.marketing .nagare h3 {
    font-size: 1rem;
    width: 100%;
    margin: 4rem 0;
    text-align: center;
    border: none;
}

.marketing .nagare h4 {
    width: 80%;
    padding: 1rem 0;
    margin: 2rem 10%;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.marketing .nagare .arrow {
    width: 30px;
    margin: 0 auto;
    height: 30px;
    border: 5px solid;
    border-color:  transparent transparent red red;
    transform: rotate(-45deg);
}

.marketing .koe {
    padding: 2rem 20px 4rem;
    position: relative;
}

.marketing .koe2 .koe-item .image {
    float: right;
}

.marketing .koe-item .image {
    width: 250px;
    height: 250px;
    background-image: url(../images/about-concept.jpg);
    background-position: center;
    background-size: cover;
}

.marketing .koe-item .name {
    position: absolute;
    top: 3rem;
    right: 30px;
    transform: rotate(-5deg);
}
.marketing .koe2 .koe-item .name {
    top: 3rem;
    left: 30px;
}

.marketing .koe-item .name h3 {
    width: 100%;
    font-size: 1.2rem;
    border: none;
}

.marketing .koe-item .text {
    width: 50%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 20px;
    border: 2px solid gray;
    background-color: rgba(255, 255, 255, 0.7);
}

.marketing .koe2 .koe-item .text {
    left: 20px;
}

.marketing .koe-item .text h4{
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    color: red;
}

.marketing .koe-item .text p{
    font-size: 0.8rem;
    color: red;
}

.marketing .koe .koe-item .logo {
    width: 200px;
    position: absolute;
    bottom: 0;
}

.marketing .koe1 .koe-item .logo {
    left: 50px;
}

.marketing .koe2 .koe-item .logo {
    right: 50px;
}

.marketing .info {
    max-width: 768px;
    margin: 0 auto;
    padding: 20px;
}

.marketing .info p {
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
}

.linelink {
    width: 70%;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
    background-color: #13B901;
    color: white;
}

.linelink span {
    color: white;
}

/****** next-contents ******/

.next-contents {
    width: 100%;
    height: 200px;
    background-image: url(../images/about-concept.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

@media screen and (min-width:768px) {
        

/***************** main ******************/

.contents-top .images {
    width: 60%;
    height: 500px;
}

.photo .contents-top .images {
    width: 60%;
    height: 500px;
}

.contents-top .textbox {
    padding: 100px 0 100px 4rem;
}

.photo .contents-top .textbox {
    padding: 100px 4rem 100px 0;
}

.contents-top .textbox h2 {
    font-size: 3rem;
    padding: 50px 0;
}

.contents-top .textbox p{
    font-size: 1.5rem;
}

/***************** pickup ******************/

.pickup {
    padding: 7rem 0;
}


.flex .contents-item .text {
    margin-bottom: 1rem;
}

.flex .contents-item {
    width: 48%;
}

.pricing-table {
    flex-direction: row;
  }

.pricing-plan {
  border-bottom: none;
  border-right: 1px solid #e1f1ff;
  flex-basis: 100%;
  padding: 25px 50px;
}

.ryoukin .contents {
    width: 100%;
  }

.pricing-plan:last-child {
  border-right: none;
}

.marketing .nagare {
    max-width: 768px;
    margin: 0 auto;
}

.marketing .nagare h3 {
    margin: 6rem 0;
    font-size: 2rem;
}

.marketing .koe {
    max-width: 768px;
    margin: 0 auto;
}



.marketing .koe-item .image {
    width: 500px;
    height: 500px;
    background-image: url(../images/about-concept.jpg);
    background-position: center;
    background-size: cover;
}

.marketing .koe-item .name {
    top: 3rem;
    right: 60px;
}

.marketing .koe-item .text {
    padding: 2rem;
    position: absolute;
    bottom: 0;
    right: 20px;
    border: 2px solid gray;
    background-color: rgba(255, 255, 255, 0.7);
}

.marketing .koe-item .name {
    top: 4rem;
}

.marketing .koe-item .name h3 {
    font-size: 2rem;
}

.marketing .koe-item .text p{
    font-size: 1.4rem;
    color: red;
}

}
