@charset "utf-8";
.svg_logo{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* load */
.load{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #af1f25;
  z-index: 100;
  animation: load_none 0.5s forwards 3s;
}
.load img{
  position: fixed;
  animation: load_img 1.6s forwards;
  animation-delay: 1.3s;
  opacity: 0;
}
@keyframes load_img{
  0%{transform: translateY(10px);
  opacity: 0;}
  90%{transform: translateY(0);
  opacity: 1;}
}
.load_creative{
  width: 65%;
  left: 22vw;
  top: 20vh;
}
.load_world{
  width: 15%;
  left: 4vw;
  top: 19vh;
}
.load_smile{
  width: 65%;
  left: 21vw;
  top: 27vh;
}
@keyframes load_none{
  0%{opacity: 1;}
  100%{opacity: 0;}
}
.logo_none{
  display: none;
}

@keyframes logo_big{
  0%{transform: scale(1,1);}
  100%{transform: scale(10,10);}
}
.svg_logo{
  position: fixed;
  width: 30vw;
}


/* head */
.head{
  position: fixed;
  z-index: 50;
}
.head_logo{
  width: 26vw;
	position: fixed;
	top: 3vh;
	left: 5vw;
}


/* top */
.top{
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.top_white,
.top_gray{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.top_white{
  background-color: #af1f25;
  animation: top_white 0.7s forwards;
  animation-delay: 4s;
  z-index: 31;
  top: 0;
  }
@keyframes top_white{
0%{top: 0;}
100%{top: -100vh;}
}
.video_top{
  position: relative;
  height: 40vh;
  background-color: #fff;
  z-index: 10;
}
.video_white{
  background-color: #fff;
  position: fixed;
  z-index: 9;
  top: 0;
  height: 40vh;
  width: 100vw;
}
.top video{
  position: fixed;
  bottom: 0;
  width: 180vw;
  z-index: 8;
}
@keyframes video{
  0%{transform: translate(0,100vh);}
  100%{transform: translate(0,0);}
}
.top img{
  position: fixed;
  z-index: 10;
<<<<<<< HEAD
=======
}
@keyframes top_img{
  0%{opacity: 0;transform: scale(1);}
  50%{transform: scale(1.06);}
  100%{opacity: 1;transform: scale(1);}
>>>>>>> 721d6b9857f0b5c7c77dc573b23c019c3427a07a
}


/* main */
.main{
  position: relative;
  width: 100vw;
  background-color: #fff;
  z-index: 30;
}

.title_wrap{
	overflow: hidden;
	height: 24px;
	text-align: center;
}
.title{
	letter-spacing: 2px;
	font-size: 16px;
	position: relative;
}

/* section_about */
.section_about{
padding: 64px 0;
}
.section_about a{
  color: #333;
  position: relative;
  display: block;
  text-align: center;
  width: 90px;
  height: 90px;
  margin: 16px auto;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 20px 1px #dadada;
  z-index: 20000;
  transition: 1s;
}


.section_about a span {
  width: 100%;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/* section_patrner */
.partner_list{
	padding: 64px 10%;
}
.partner_list li{
	position: relative;
	height: 100px;
	width: 50%;
	display: inline-block;
}
.partner_list img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.list_img{
  opacity: 0;
  width: 80%;
}
.img_appearance{
	animation:appearance 0.8s forwards;
}
@keyframes appearance{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.footer_black{
  position: fixed;
  bottom: 0;
  height: 30vh;
  background-color: #000;
  width: 100vw;
}

.section_about p{
  width: 80%;
  margin: 32px 10% -16px 10%;
  position: relative;
  font-weight: 700;
}
.section_about p::before {
  content: '';
  position: absolute;
  left: -10%;
  width: 120%;
  height: 100%;
  box-shadow: 0px -80px 50px 0px #fff inset;
}
.creative{
  width: 90%;
}
.for{
  width: 35%;
  margin: 8px 0 0 3px;
}
.smile{
  margin: -10px 0 0 0;
}
.about_textall{
  width: 80%;
  margin: 0 10%;
}


#circle{
  pointer-events: none;
  position: fixed;
  top: -16px;     
  left: -16px;   
  width: 32px;   
  height: 32px;  
  background: url(../images/logo_red.png);
  background-size: cover;
  z-index: 99;
  transform: translate(0,0);
  transition: transform 0.2s; 
  transition-timing-function: ease-out;
}

.page_in{
	display: block;
}
.btn_scale{
	transform: scale(20);
}
@media screen and (max-width:767px) {
.top img{
  opacity: 0;
<<<<<<< HEAD
=======
  animation:top_img 1s forwards;
  animation-delay: 4s;
  left: 5vw;
>>>>>>> 721d6b9857f0b5c7c77dc573b23c019c3427a07a
}
.top_creative{
  width: 60%;
  top: 17vh;
<<<<<<< HEAD
  left: -60%;
  animation: top_img 1s 4s forwards;
}
@keyframes top_img {
  0%{left: -60%;opacity: 0;}
  10%{opacity: 1;}
  100%{left: 5%;opacity: 1;}  
=======
>>>>>>> 721d6b9857f0b5c7c77dc573b23c019c3427a07a
}
.top_for{
  width: 28%;
  top: 24vh;
<<<<<<< HEAD
  left: -38%;
  animation: top_img 1s 4.15s forwards;
=======
>>>>>>> 721d6b9857f0b5c7c77dc573b23c019c3427a07a
}
.top_smile{
  width: 70%;
  top: 28vh;
<<<<<<< HEAD
  left: -80%;
  animation: top_img 1s 4.3s forwards;
=======
>>>>>>> 721d6b9857f0b5c7c77dc573b23c019c3427a07a
}
.top video{
  left: -40vw;
}
}
@media screen and (max-width:900px) {
  #circle{
    display: none;
  }
}
@media screen and (min-width:768px) {
.video_white {
  z-index: 9;
  height: 100vh;
  width: 20vw;
}
.load_creative {
    width: 40%;
    left: 18vw;
}
.load_world {
  width: 8%;
  left: 8vw;
}
.load_smile{
    width: 40%;
    left: 18vw;
    top: 32vh;
}
video{
  left: 0;
}
.top video{
  width: 80vw;
  left: 20vw;
  bottom: -10vh;
}
.head_logo{
  width: 8vw;
}
.svg_logo{
  width: 10vw;
}
.about_textall{
  width: 40%;
  margin: 0 0 0 20%;
}
.top img{
  left: 5vw;
}
.top_creative{
  height: 10vh;
  top: 15vh;
}
.top_for{
  height: 8vh;
  top: 27vh;
}
.top_smile{
  height: 25vh;
  top: 30vh;
}
.partner_list li{
  width: calc( 100% / 3 );
  margin: 32px 0;
}
.partner_list{
  padding: 64px 20%;
}
.partner_list img{
  width: 70%;
}


.section_about p{
  font-size: 24px;
  line-height:42px;
  width: 50%;
  margin: 64px 25% -16px 25%;
}
}

