@charset "utf-8";

h3 {
    background: none;
}

/***************** main ******************/

.pickup {
    padding: 3rem 0;
}

.pickup .contents {
    margin: 0 auto;
    padding: 3rem 0;
    position: relative;
}
.pickup .contents .h2border {
    width: 20%;
    border-top: solid 1px #333;
    margin: 9px 10px 0;
    display: inline-block;
    height: 5px;
}

.contents-top {
    position: relative;
    margin: 200px 0 0;
}

.contents-top .images{
    width: 90%;
    height: 200px;
    background-image: url(../images/about-concept.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -170px;
    right: 0;
    box-shadow: 6px 6px 6px rgb(0, 0, 0);
}

.photo .contents-top .images {
    width: 90%;
    height: 200px;
    background-image: url(../images/cook.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -170px;
    left: 0;
    box-shadow: 6px 6px 6px rgb(0, 0, 0);
}

.contents-top .textbox {
    width: 90%;
    padding: 40px 0 40px 20px;
    background-color: #B81B26;
    color: white;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.photo .contents-top .textbox {
    padding: 40px 20px 40px 0px;

}

.photo .contents-top .textbox {
    float: right;
}

.contents-top .textbox h2{
    text-align: start;
    position: relative;
}

.photo .contents-top .textbox h2 {
    text-align: right;
}

.contents-top .textbox p{
    position: relative;
}

.photo .contents-top .textbox p{
    text-align: right;
}

.flex {
    margin: 0 auto;
    max-width: 768px;
    
}

.flex .contents-item {
    width: 48%;
    padding: 1rem 1%;
    position: relative;
}

.flex .contents-item .images {
    width: 100%; 
    height: 150px;
    position:relative;
    background-size: cover;
    background-position: center;
}

.saiyou-back {
    background-image: url(../images/saiyou.jpg);
}
.youtube-back {
    background-image: url(../images/youtube.png);
}
.event-back {
    background-image: url(../images/youtube.png);
}
.zoom-back {
    background-image: url(../images/youtube.png);
}
.live-back {
    background-image: url(../images/youtube.png);
}
.sns-back {
    background-image: url(../images/youtube.png);
}

.cook-back {
    background-image: url(../images/cook.jpg);
}

.wedding-back {
    background-image: url(../images/wedding.jpg);
}

.move-back {
    background-image: url(../images/live.jpg);
}

.flex .contents-item .text {
    width: 100%;
    text-align: right;
    background-color: rgba(255, 255, 255,0.8);
}

.flex .contents-item .text h3 {
    width: 85%;
    margin: 0 5% 1rem 10%;
    font-size: 0.7rem;
    border-bottom: 1px solid #000;
}

.flex .contents-item .text .subtitle {
    margin-right: 5%;
}

.service-list {
    padding: 100px 0 0;
    color: #000;
}

.service-list .title {
    text-align: center;
    padding: 1rem 1rem 2rem;
    border-radius: 30px;
    font-size: 1.5rem;
}

.service-list ul li {
    font-size: 1.3rem;
    padding: 1rem;
}




/****** next-contents ******/

.next-contents {
    width: 100%;
    height: 200px;
    background-image: url(../images/about-concept.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

@media screen and (min-width:768px) {
        

/***************** main ******************/

.contents-top .images {
    width: 60%;
    height: 500px;
}

.photo .contents-top .images {
    width: 60%;
    height: 500px;
}

.contents-top .textbox {
    padding: 100px 2rem;
}

.photo .contents-top .textbox {
    padding: 100px 2rem;
}

.contents-top .textbox h2 {
    font-size: 3rem;
    padding: 50px 0;
}

.contents-top .textbox p{
    font-size: 1.5rem;
}

/***************** pickup ******************/

.pickup {
    padding: 7rem 0;
}

.flex .contents-item {
    width: 30%;
    margin: 0 auto;
}

.flex .contents-item .text {
    margin-bottom: 1rem;
}
.flex .service-list {
    max-width: 768px;
    margin: 0 auto;
}
.service-list ul {
    width: 40%;
    margin: 0 auto;
}

}